{% include 'student_managment/helpers/st_accept_model.html' %}

<div class="row d-flex justify-content-center">
  {% for i in hr_details %}
    <div class="col-md-3 card">
         <div class="b-det">
          <span class="d-title">HR Name</span><span class="d-details">{{ i.hr_name }}</span><br>
          <span class="d-title">Company</span><span class="d-details">{{ i.hr_company }}</span><br>
         </div>
         <div class="b-action">
          {% if i.hr_status == 'Accept' %}
          <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#{{ i.code }}" href="#">HR Accepted</button>
          {% elif i.hr_status == 'Pending' %}
          <button  class="btn btn-warning" type="submit" data-toggle="modal" data-target="#" href="#">{{ i.hr_status }}</button>
          {% elif i.hr_status == 'Request' %}
          <button onclick="get_email('{{ i.student_email }}','{{ i.hr_email }}')" class="btn btn-primary" type="submit" data-toggle="modal" data-target="#Request_Modal" href="#">{{ i.hr_status }}</button>
          {% elif i.hr_status == 'Rejected' %}
          <button  class="btn btn-danger" type="submit" data-toggle="modal" data-target="#" href="#">HR Rejected</button>
          {% endif %}
         </div> 
    </div>
    {% endfor %}
</div>

{% include 'student_managment/helpers/request_model.html' %}



<style type="text/css">
  .card{
    width: 30%;
    margin: 8px;
    height: 150px;
    border:1px solid gray;
    padding: 8px;
    
  }
  .card:hover{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .d-title{
    color: blue;
    text-align: center;
    text-transform: uppercase;
    border-left: 5px solid blue;
    padding: 3px;
  }
  .d-details{
    float: right;
  }
  .b-action{
    margin-top: 50px;
  }
</style>


<script type="text/javascript">
  var student_email = ''
  var hr_email = ''
  function get_email(se,hre) {
      student_email = se;
      hr_email = hre;
  }
</script>