<div id="rejectModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
         <div class="row d-flex justify-content-center">Are sure rejecting this candidate ?</div>
         <div class="row d-flex justify-content-end">
           <div class="col-md-6">
                  <form id="myForm" method="POST" action="{% url 'hr_request_accept_reject' %}">{% csrf_token %} 
                      <input type="hidden" id="student_email" name="student_email" value="">
                      <input type="hidden" id="hr_email" name="hr_email" value="{{ hr_email }}">
                      <input type="hidden" id="status" name="status" value="Reject">
                      <button onclick="post_rejection()" type="button" class="btn btn-danger btn2" >Reject</button>
                  </form> 
           </div>
           <div class="col-md-6">
                   <button  type="button" class="btn btn-success btn2" data-dismiss="modal">Close</button>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .btn2{
    width: 100%;
  }
</style>

