
<div class="row d-flex justify-content-center">
	{% for  i in a_requ %}
    <div class="col-md-3 card">
    	<div class="b-action">
         	<button onclick="get_emails('{{ i.student_email }}')" class="btn btn-success" type="submit" data-toggle="modal" data-target="#acceptModel" href="#">Accept</button>
         	<button onclick="get_emails('{{ i.student_email }}')" class="btn btn-danger" type="submit" data-toggle="modal" data-target="#rejectModel" href="#">Reject</button>
         </div> 
         <div class="b-det">
         	<span class="d-title">Student Name</span><span class="d-details">{{ i.student_name }}</span><br>
         	<span class="d-title">Passing Year</span><span class="d-details">{{ i.student_pass_year }}</span><br>
         	<span class="d-title">Student Message :</span><span class="d-details2">{{ i.student_msg }}</span><br>
         </div>
    </div>
    {% endfor %}
</div>

<style type="text/css">
	.card{
		width: 33%;
		margin: 8px;
		height: 200px;
		border:1px solid gray;
		padding: 8px;
		display: table-cell;
        vertical-align: bottom;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px;
	}
	.card:hover{
		 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	.d-title{
		color: blue;
		text-align: center;
		text-transform: uppercase;
		border-left: 5px solid blue;
		padding: 3px;
	}
	.d-details{
		float: right;
	}
	.b-action{
		margin-left: 90px;
	}
</style>


