<!-- 
dev shiva gangula.
intialized 02/11/2020
last_edited 05/11/2020

-->
<!DOCTYPE html>
<html>
<head>
	<title>HR Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<h6 class="stitle">Welcome Back to Ganesh</h6>
	    {% include 'hr_managment/helpers/list_requests.html' %}
 {% include 'hr_managment/helpers/hr_request_reject_model.html' %}
        {% include 'hr_managment/helpers/hr_request_accept_model.html' %}

</body>
<style type="text/css">
	body{		
	}
	.title{
		background: skyblue;
		padding: 10px;
		color: white;
	}
	.stitle{
		background: skyblue;
		padding: 10px;
		color: white;
	}
</style>
<script type="text/javascript">
	var student_email = '';
	function get_emails(ss) {
	       student_email = ss;
	       document.getElementById('student_email').value = student_email;
	       document.getElementById('student_email2').value = student_email;
		};
	function post_accept() {
		console.log(student_email)
         document.getElementById("myForm2").submit(); 
  };
  function post_rejection() {
  	console.log(student_email)
     document.getElementById("myForm").submit(); 
  };

</script>



</html>