<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<center><h1>Student Dashboard</h1></center>
    <div class="container">
<div class="row">
    <div class="col">
         <button  class="btn btn-primary btn2" type="button" data-toggle="collapse" data-target="#hrlist" aria-expanded="false" aria-controls="hrlist">
          HR's
        </button>
    </div>
    <div class="col">
        <button class="btn btn-primary btn2" type="button" data-toggle="collapse" data-target="#notilist" aria-expanded="false" aria-controls="notilist">
         Notifications
        </button>
    </div>
</div>
{% include 'student_managment/helpers/noti.html' %}
{% include 'student_managment/helpers/list_hrs.html' %}



</div>
</div>


<style type="text/css">
    .btn2{
        width: 100%;
    }
</style>

{% include 'student_managment/helpers/request_model.html' %}
</body>
</html>